@charset "UTF-8";
.hide {
  display: none;
}

.active {
  background: #2196f3;
  color: #fff;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
}
.logo_blue {
  color: #2196f3;
}
.logo_black {
  color: #000;
}
.logo_white {
  color: #fff;
}

.header {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .logo {
  margin-bottom: 0;
}

.nav {
  margin-left: 93px;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  gap: 50px;
  padding-left: 10px;
}
.nav__link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}
.nav__link_active {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  word-wrap: break-word;
  color: #1c81d4;
}
.nav__link_active::after {
  content: "";
  display: block;
  bottom: -31px;
  border-radius: 2px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  position: absolute;
}

.contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  gap: 40px;
}
.contact__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  white-space: nowrap;
}
.contact__button:hover, .contact__button:focus {
  color: #2196f3;
}
.contact__logo {
  fill: currentColor;
  margin-right: 10px;
}

.footer {
  background-color: #2f303a;
  color: #fff;
}
.footer .logo {
  display: inline-block;
  margin-bottom: 28px;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.footer__title {
  color: white;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.42px;
  margin-bottom: 20px;
}
.footer__form {
  margin-left: 94px;
}
.footer__input {
  width: 358px;
  background: rgba(33, 150, 243, 0);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px rgba(255, 255, 255, 0.3) solid;
  padding: 16px 0px 16px 16px;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
  color: var(--white_opacity_06);
}
.footer__button {
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 14px 28px;
  margin-left: 12px;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  color: var(--white);
}

.info {
  margin-right: 93px;
}
.info__items:not(:last-child) {
  margin-bottom: 12px;
}

.mailtel__link {
  color: rgba(255, 255, 255, 0.6);
  line-height: 114%;
  letter-spacing: 0.42px;
  word-wrap: break-word;
}

.address__link {
  color: #fff;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: 0.42px;
}

.button__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.button__icon {
  margin-left: 10px;
}

.about {
  padding-top: 94px;
  padding-bottom: 94px;
}
.about__list {
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__title {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.42px;
  word-wrap: break-word;
  margin-bottom: 10px;
}
.about__text {
  color: #757575;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.42px;
  word-wrap: break-word;
}

.icon-box {
  background-color: #f5f4fa;
  max-height: 120px;
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.client {
  text-align: center;
  padding: 94px 0;
  margin: 0;
}
.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.client__card {
  max-height: 92px;
}
.client__box {
  border-radius: 4px;
  border: 1px #afb1b8 solid;
  display: inline-block;
  color: #afb1b8;
  fill: currentColor;
  -webkit-transition: color 0.5s, border 0.5s;
  transition: color 0.5s, border 0.5s;
  height: 100%;
}
.client__box:hover, .client__box:focus {
  color: #2196f3;
  fill: currentColor;
  border: 1px #2196f3 solid;
}
.client__logo {
  width: 100%;
  height: 100%;
  padding: 16px 32px;
  color: var(--icon);
  fill: currentColor;
  -webkit-transition: color 0.5s, border 0.5s;
  transition: color 0.5s, border 0.5s;
}
.client__logo:hover, .client__logo:focus {
  color: #1c81d4;
  fill: currentColor;
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main_section_background.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main_section_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.hero__title {
  margin: auto;
  color: #fff;
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 136%;
  letter-spacing: 2.64px;
  word-wrap: break-word;
  text-transform: uppercase;
  max-width: 696px;
}
.hero__button {
  text-decoration: none;
  background: #2196f3;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 185%;
  letter-spacing: 0.96px;
  word-wrap: break-word;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  margin-top: 30px;
  -webkit-transition: 0.5s background;
  transition: 0.5s background;
}
.hero__button:hover, .hero__button:focus {
  background: #1c81d4;
}

.worker {
  text-align: center;
  background-color: #f5f4fa;
  padding: 0;
  margin: 0;
  padding-bottom: 94px;
  padding-top: 94px;
}
.worker__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.worker__card {
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.worker__img {
  margin-bottom: 30px;
}
.worker__info {
  padding: 0 32px 30px;
}
.worker__name {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  word-wrap: break-word;
  margin-bottom: 10px;
}
.worker__text {
  color: #757575;
  font-size: 16px;
  letter-spacing: 0.48px;
  word-wrap: break-word;
  margin: 0;
}

.work {
  text-align: center;
  padding-bottom: 94px;
}
.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.work__card {
  position: relative;
}
.work__overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.42px;
  word-wrap: break-word;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.no-scroll {
  overflow: hidden;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  min-width: 528px;
  background-color: #fff;
  opacity: 1;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.close-button__icon {
  width: 18px;
  height: 18px;
  fill: #000;
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s;
}
.close-button:hover .close-button__icon, .close-button:focus .close-button__icon {
  fill: #2196f3;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__h2 {
  color: #212121;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
.form__label {
  color: #757575;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 400;
  letter-spacing: 0.12px;
  margin-bottom: 10px;
  position: relative;
}
.form__input {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px rgba(33, 33, 33, 0.2) solid;
  padding: 11px 0px 11px 30px;
}
.form__input:hover, .form__input:focus {
  outline: 1px #2196f3 solid;
}
.form__input:focus + .form__icon, .form__input:hover + .form__icon {
  -webkit-transition: 300ms;
  transition: 300ms;
  color: #2196f3;
}
.form__icon {
  position: absolute;
  color: #212121;
  fill: currentColor;
  top: 28px;
  left: 10px;
}
.form__text:not(:last-child) {
  margin-bottom: 4px;
}
.form__textarea {
  height: 120px;
  width: 100%;
  border-radius: 4px;
  border: 1px rgba(33, 33, 33, 0.2) solid;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 400;
  letter-spacing: 0.12px;
  padding: 11px 12px;
  resize: none;
}
.form__textarea:hover, .form__textarea:focus {
  outline: 1px #2196f3 solid;
}
.form__button-box {
  display: inline-block;
  text-align: center;
}
.form__button {
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  width: 200px;
  cursor: pointer;
  padding: 10px 52px;
  color: white;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
}
.form__button:hover, .form__button:focus {
  background: #1c81d4;
}

.checkbox {
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
}
.checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: #212121 1px solid;
  height: 15px;
  width: 16px;
  border-radius: 2px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.checkbox__input:checked {
  background: #2196f3;
  border: none;
}
.checkbox__input:checked::before {
  content: "✔";
  color: white;
  margin-left: -2px;
}
.checkbox__link {
  text-decoration: underline;
  color: #2196f3;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  max-width: 370px;
  border: 1px solid #eee;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}
.card:hover, .card:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card:hover .overlay, .card:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.card__image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  opacity: 0.9;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  background-color: #2196f3;
}
.overlay__text {
  font-size: 18px;
  line-height: 155.56%;
  letter-spacing: 0.54px;
  color: white;
  padding: 64px 24px;
  opacity: 0.9;
}

.card-text {
  padding: 20px 24px;
}
.card-text__title {
  color: #212121;
  font-size: 17.5px;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 1.08px;
  word-wrap: break-word;
}
.card-text__text {
  color: #757575;
  font-size: 16px;
  line-height: 187.5%;
  letter-spacing: 0.48px;
  word-wrap: break-word;
}

.button-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
.button-row__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.button-row__filter {
  height: 100%;
  background: #f5f4fa;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 162.5%;
  letter-spacing: 0.48px;
  word-wrap: break-word;
  -webkit-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
}

.active {
  background: #2196f3;
  color: #fff;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

a,
ul,
body,
h3,
h2,
p,
li,
svg {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--roboto_font);
  font-style: normal;
  line-height: normal;
  font-size: 14px;
  background-color: var(--white);
  margin: 0;
  padding: 0;
}

ul,
a,
address {
  list-style: none;
  text-decoration: none;
  font-style: normal;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  word-wrap: break-word;
  margin: 0;
  margin-bottom: 50px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
}
.social__list_g10 {
  gap: 10px;
}
.social__item {
  height: 44px;
  width: 44px;
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  fill: currentColor;
  -webkit-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
}
.social__link_dark {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  fill: currentColor;
  -webkit-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
}
.social__link:hover, .social__link:focus {
  color: #fff;
  fill: currentColor;
  background-color: #188ce8;
}