:root {
  --blue_color: #2196f3;
  --black: #000;
  --white: #fff;
  --white_opacity_06: #ffffff99;
  --dif_white: #eee;
  --some_more_light_black: #212121;
  --gray: #757575;
  --light_blue: #188ce8;
  --background_dark: #2f303a;
  --button_white: #f5f4fa;
  --icon: #afb1b8;
  --icon_back: #f5f4fa;

  --raleway_font: "Raleway", sans-serif;
  --roboto_font: "Roboto", sans-serif;
}

/* * {
  outline: 1px solid red;
} */

a,
ul,
body,
h3,
h2,
p,
li,
svg {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--roboto_font);
  font-style: normal;
  line-height: normal;
  font-size: 14px;
  background-color: var(--white);
  margin: 0;
  padding: 0;
}

ul,
a,
address {
  list-style: none;
  text-decoration: none;
  font-style: normal;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*Header*/
.header {
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.header__nav {
  margin-left: 93px;
}

.header__buttons__ul--left {
  display: flex;
  padding: 0;
  gap: 50px;
  padding-left: 10px;
}

.header__buttons__ul--right {
  display: flex;
  margin-left: auto;
  gap: 40px;
}

.header__logo {
  font-family: var(--raleway_font);
  font-size: 26px;
  font-weight: 700;
}

.header__logo--blue {
  color: var(--blue_color);
}

.header__logo--black {
  color: var(--black);
}

.footer__logo--white {
  color: var(--white);
}

.header__button--left {
  color: var(--some_more_light_black);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  transition: color 0.5s;
}

.header__button--left:hover,
.header__button--left:focus {
  color: var(--blue_color);
}

.header__button--left--active {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  word-wrap: break-word;
  color: var(--light_blue);
}

.header__buttons__ul--left .header__button--left--active::after {
  content: "";
  display: block;
  bottom: -32px;
  border-radius: 2px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  position: absolute;
}

.header__button--right {
  display: flex;
  align-items: center;
  color: var(--gray);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  transition: color 0.5s;
  white-space: nowrap;
}

.header__button__icon {
  fill: currentColor;
  margin-right: 10px;
}

.header__button--right:hover,
.header__button--right:focus {
  color: var(--blue_color);
}

/*Section Main*/

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/main_section_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  display: flex;
  align-items: center;
  text-align: center;
}
.hero__h1 {
  margin: auto;
  color: var(--white);
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 136%;
  letter-spacing: 2.64px;
  word-wrap: break-word;
  text-transform: uppercase;
  max-width: 696px;
}

.hero__button {
  text-decoration: none;
  background: var(--blue_color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
  border: none;
  cursor: pointer;

  color: var(--white);
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 185%;
  letter-spacing: 0.96px;
  word-wrap: break-word;
  transition: color 0.5s;

  margin-top: 30px;
}

.hero__button:hover,
.hero__button:focus {
  background: var(--light_blue);
}

/*Us plus section*/

.section-plus {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-plus__ul {
  gap: 30px;
  display: flex;
}

.section-plus__ul__logo--background {
  background-color: var(--icon_back);
  max-height: 120px;
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.section-plus__ul__h3 {
  color: var(--some_more_light_black);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.42px;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.section-plus__ul__p {
  color: var(--gray);
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.42px;
  word-wrap: break-word;
}

/*Work section*/
.section-works {
  text-align: center;
  padding-bottom: 94px;
}

.section-works__h2 {
  color: var(--some_more_light_black);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  word-wrap: break-word;
  margin: 0;
  margin-bottom: 50px;
}

.section-works__ul {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.section-works__ul__card {
  position: relative;
}

.section-works__ul__card__overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.42px;
  word-wrap: break-word;
}

/*Section Worker*/
.section-team {
  text-align: center;
  background-color: var(--button_white);
  padding: 0;
  margin: 0;
  padding-bottom: 94px;
  padding-top: 94px;
}

.section-team__ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: nowrap;
}
.section-team__h2 {
  color: var(--some_more_light_black);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  word-wrap: break-word;
  margin-top: 0;
  margin-bottom: 50px;
}
.section-works__ul__li__card {
  background-color: var(--white);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.section-works__ul__li__card__worker-info {
  padding: 0 32px 30px;
}

.section-works__ul__li__card__worker-info__h3 {
  color: var(--some_more_light_black);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.section-works__ul__li__card__worker-info__ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 16px;
}

.section-works__ul__li__card__worker-info__ul__li {
  height: 44px;
  width: 44px;
}

.section-works__ul__li__card__worker-info__ul__li__a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;

  color: var(--icon);
  fill: currentColor;
  transition: color 0.5s, background-color 0.5s;
}

.section-works__ul__li__card__worker-info__ul__li__a:hover,
.section-works__ul__li__card__worker-info__ul__li__a:focus {
  color: var(--white);
  fill: currentColor;
  background-color: #188ce8;
}

.section-works__ul__li__card__img {
  margin-bottom: 30px;
}

.section-works__ul__li__card__worker-info__p {
  color: var(--gray);
  font-size: 16px;
  letter-spacing: 0.48px;
  word-wrap: break-word;
  margin: 0;
}

/*Regular customers section*/

.section-customers {
  text-align: center;
  padding: 94px 0;
  margin: 0;
}

.section-customers__ul {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 30px;
}

.section-customers__h2 {
  color: var(--some_more_light_black);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  word-wrap: break-word;

  margin-bottom: 50px;
}

.section-customers__ul__card {
  max-height: 92px;
}

.section-customers__ul__card__a {
  border-radius: 4px;
  border: 1px var(--icon) solid;
  display: inline-block;
  color: var(--icon);
  fill: currentColor;
  transition: color 0.5s, border 0.5s;
  height: 100%;
}

.section-customers__ul__card__logo {
  width: 100%;
  height: 100%;
  padding: 16px 32px;
  color: var(--icon);
  fill: currentColor;
  transition: color 0.5s, border 0.5s;
}

.section-customers__ul__card__a:hover,
.section-customers__ul__card__a:focus {
  color: var(--blue_color);
  fill: currentColor;
  border: 1px var(--blue_color) solid;
}

.section-customers__ul__card__logo:hover,
.section-customers__ul__card__logo:focus {
  color: var(--light_blue);
  fill: currentColor;
}

/*Footer*/
.footer {
  background-color: var(--background_dark);
  color: var(--white);
}

.footer .container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: baseline;
}

.footer__box-first {
  margin-right: 93px;
}

.footer__box-first .header__logo {
  display: inline-block;
  margin-bottom: 28px;
}

.footer__box-first__address__ul__li:not(:last-child) {
  margin-bottom: 12px;
}

.footer__box-first__address__ul__li__link-address {
  color: var(--white);
  font-size: 14px;
  line-height: 114%;
  letter-spacing: 0.42px;
}
.footer__box-first__address__ul__li__link-mailtel {
  color: var(--white_opacity_06);
  line-height: 114%;
  letter-spacing: 0.42px;
  word-wrap: break-word;
}

.footer__box-second__p {
  color: white;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.42px;

  margin-bottom: 20px;
}

.footer__box-second__ul {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

.footer__box-second__ul__li {
  height: 44px;
  width: 44px;
}

.footer__box-second__ul__li__a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100%;
  color: var(--white);

  fill: currentColor;
  transition: color 0.5s, background-color 0.5s;
}

.footer__box-second__ul__li__a:hover,
.footer__box-second__ul__li__a:focus {
  color: var(--white);
  fill: currentColor;
  background-color: var(--light_blue);
}

.footer__box-second__ul__li__a__logo {
  fill: currentColor;
}

.footer__box-third {
  margin-left: 94px;
}

.footer__box-third__p {
  color: white;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.42px;

  margin-bottom: 20px;
}

.footer__box-third__input {
  width: 358px;
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px rgba(255, 255, 255, 0.3) solid;
  padding: 16px 0px 16px 16px;

  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
  color: var(--white_opacity_06);
}

.footer__box-third__button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 14px 28px;
  margin-left: 12px;

  font-size: 16px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;

  color: var(--white);
}

.footer__box-third__button__box {
  display: flex;
  align-items: center;
}

.third__button__box__logo {
  margin-left: 10px;
}

/*Portfolio*/

.button_row {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button_row ul {
  display: flex;
  gap: 8px;
}

.button_row button {
  height: 100%;
  background: var(--button_white);
  font-family: var(--roboto_font);
  border-radius: 4px;
  border: none;
  padding: 6px 22px;

  color: var(--some_more_light_black);
  font-size: 16px;
  font-weight: 500;
  line-height: 162.5%;
  letter-spacing: 0.48px;
  word-wrap: break-word;
  transition: color 0.5s, background-color 0.5s;
}

.section_portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section_portfolio button:hover,
.section_portfolio button:focus {
  background: var(--blue_color);
  color: var(--white);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.portfolio_card {
  max-width: 370px;
  border: 1px solid var(--dif_white);
  transition: box-shadow 0.5s;
}

.portfolio_card:hover,
.portfolio_card:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.image_container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.text_section {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  opacity: 0.9;
  transition-property: transform;
  background-color: #2196f3;
}

.text_portfolio {
  font-size: 18px;
  line-height: 155.56%;
  letter-spacing: 0.54px;
  color: var(--white);
  padding: 64px 24px;
  background-color: var(--brand-color);
  opacity: 0.9;
}

.portfolio_card:hover .text_section,
.portfolio_card:focus .text_section {
  transform: translateY(0);
}

.portfolio_list_box {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio_list_box h3 {
  color: var(--some_more_light_black);
  font-size: 18px;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 1.08px;
  word-wrap: break-word;
}
.portfolio_card_text p {
  color: var(--gray);
  font-size: 16px;
  line-height: 187.5%;
  letter-spacing: 0.48px;
  word-wrap: break-word;
}

.portfolio_card_text {
  padding: 20px 23px;
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  min-width: 528px;
  background-color: var(--white);
  opacity: 1;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window__button-close {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  align-items: center;
  border-radius: 50%;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-window__button-close__logo {
  width: 18px;
  height: 18px;
  fill: var(--black);
  transition: fill 0.5s;
}

.modal-window__button-close:hover .modal-window__button-close__logo,
.modal-window__button-close:focus .modal-window__button-close__logo {
  fill: var(--blue_color);
}

.modal-window__form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.modal-window__h2 {
  color: var(--some_more_light_black);
  font-size: 20px;
  font-family: Roboto;
  font-weight: 700;
  letter-spacing: 0.6px;

  margin-bottom: 12px;
}

.modal-window__form__label__p {
  margin-bottom: 4px;
}

.modal-window__form__label {
  margin-top: 5px;
  margin-bottom: 5px;
}

.modal-window__form__label__input {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px #21212133 solid;
  padding: 11px 0px 11px 30px;
}

.modal-window__form__label__textarea {
  height: 120px;
  width: 100%;
  border-radius: 4px;
  border: 1px #21212133 solid;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 400;
  letter-spacing: 0.12px;
  padding: 11px 12px;
  resize: none;
}

.modal-window__form__label__input:focus + .modal-window__form__label__logo,
.modal-window__form__label__input:hover + .modal-window__form__label__logo {
  transition: 300ms;
  color: var(--blue_color);
}

.modal-window__form__label__input:hover,
.modal-window__form__label__input:focus,
.modal-window__form__label__textarea:hover,
.modal-window__form__label__textarea:focus {
  outline: 1px var(--blue_color) solid;
}

.modal-window__form__label {
  color: var(--gray);
  font-size: 12px;
  font-family: Roboto;
  font-weight: 400;
  letter-spacing: 0.12px;
  margin-bottom: 10px;
  position: relative;
}

.modal-window__form__label__logo {
  position: absolute;
  color: var(--some_more_light_black);
  top: 28px;
  left: 10px;
}

.modal-window__form__checkbox {
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 15px;
  display: flex;
  gap: 9px;
}

.modal-window__form__checkbox__label__span__a {
  text-decoration: underline;
  color: var(--blue_color);
}

.modal-window__form__checkbox__label {
  cursor: pointer;
}

input[type="checkbox"] {
  cursor: pointer;
  appearance: none;
  border: var(--some_more_light_black) 1px solid;
  height: 15px;
  width: 16px;
  color: var(--white);
  border-radius: 2px;
  transition-duration: 0.5s;
}

input[type="checkbox"]:checked {
  background: var(--blue_color);
  border: none;
  color: var(--white);
}

input[type="checkbox"]:checked::before {
  content: "✔";
  margin-left: 3px;
  display: inline-block;
  text-align: center;
}

.window__form__button-box {
  display: inline-block;
  text-align: center;
}

.window__form__button {
  background: var(--blue_color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  width: 200px;
  cursor: pointer;

  padding: 10px 52px;

  color: var(--white);
  font-size: 16px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
}

.window__form__button:hover,
.window__form__button:focus {
  background: var(--light_blue);
}
