:root {
  --blue_color: #2196f3;
  --black: #000;
  --white: #fff;
  --dif_white: #eee;
  --some_more_light_black: #212121;
  --gray: #757575;
  --light_blue: #188ce8;
  --background_dark: #2f303a;
  --button_white: #f5f4fa;
  --icon: #afb1b8;
  --icon_back: #f5f4fa;

  --raleway_font: "Raleway", sans-serif;
  --roboto_font: "Roboto", sans-serif;
}

/* * {
  outline: 1px solid red;
} */

a,
ul,
body,
h3,
h2,
p,
li,
svg {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--roboto_font);
  font-style: normal;
  line-height: normal;
  font-size: 14px;
  background-color: var(--white);
  margin: 0;
  padding: 0;
}

ul,
a,
address {
  list-style: none;
  text-decoration: none;
  font-style: normal;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*Header*/
.header_style {
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.header_style .container {
  display: flex;
  align-items: center;
}

.header_style nav {
  margin-left: 93px;
}

.header_left_button_list {
  display: flex;
  padding: 0;
  gap: 50px;
}

.header_right_button_list {
  display: flex;
  margin-left: auto;
  gap: 40px;
}

.logo {
  font-family: var(--raleway_font);
  font-size: 26px;
  font-weight: 700;
}

.logo_first {
  color: var(--blue_color);
}

.logo_second {
  color: var(--black);
}

.logo_second_footer {
  color: var(--white);
}

.header_button_left {
  color: var(--some_more_light_black);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  transition: color 0.5s;
}

.header_button_left:hover,
.header_button_left:focus {
  color: var(--blue_color);
}

.header_button_left_active {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  word-wrap: break-word;
  color: var(--light_blue);
}

/* .header_button_left_active::after {
  content: "";
  display: block;
  bottom: 859px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  position: absolute;
} */

.header_button_right {
  display: flex;
  align-items: center;
  color: var(--gray);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  transition: color 0.5s;
  white-space: nowrap;
}

.header_icon {
  fill: currentColor;
  margin-right: 10px;
}

.header_button_right:hover,
.header_button_right:focus {
  color: var(--blue_color);
}

/*Section Main*/

.section_main {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/main_section_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* object-fit: cover; */
  height: 600px;
  display: flex;
  align-items: center;
  text-align: center;
}
.section_main h1 {
  margin: auto;
  color: var(--white);
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 136%;
  letter-spacing: 2.64px;
  word-wrap: break-word;
  text-transform: uppercase;
  max-width: 696px;
}

.main_page_button {
  text-decoration: none;
  background: var(--blue_color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
  border: none;
  cursor: pointer;

  color: var(--white);
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 185%;
  letter-spacing: 0.96px;
  word-wrap: break-word;
  transition: color 0.5s;

  margin-top: 30px;
}

.main_page_button:hover,
.main_page_button:focus {
  background: var(--light_blue);
}

/*Us plus section*/

.section_us_plus {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list_us_plus {
  gap: 30px;
  display: flex;
}

.us_plus_logo_box {
  background-color: var(--icon_back);
  max-height: 120px;
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.list_us_plus h3 {
  color: var(--some_more_light_black);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.42px;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.list_us_plus p {
  color: var(--gray);
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.42px;
  word-wrap: break-word;
}

/*Work section*/
.section_work {
  text-align: center;
  padding-bottom: 94px;
}

.section_work h2 {
  color: var(--some_more_light_black);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  word-wrap: break-word;
  margin: 0;
  margin-bottom: 50px;
}

.section_work ul {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.work_card {
  position: relative;
}

.work_overlay_text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.42px;
  word-wrap: break-word;
}

/*Section Worker*/
.section_worker {
  text-align: center;
  background-color: var(--button_white);
  padding: 0;
  margin: 0;
  padding-bottom: 94px;
  padding-top: 94px;
}

.worker_list {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: nowrap;
}
.section_worker h2 {
  color: var(--some_more_light_black);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  word-wrap: break-word;
  margin-top: 0;
  margin-bottom: 50px;
}
.worker_card {
  background-color: var(--white);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.worker_info {
  padding: 0 32px 30px;
}

.worker_card h3 {
  color: var(--some_more_light_black);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.social_link_list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 16px;
}

.social_list_item {
  height: 44px;
  width: 44px;
}

.social_link_list a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;

  color: var(--icon);
  fill: currentColor;
  transition: color 0.5s, background-color 0.5s;
}

.social_link_list a:hover,
.social_link_list a:focus {
  color: var(--white);
  fill: currentColor;
  background-color: #188ce8;
}

.worker_card img {
  margin-bottom: 30px;
}

.worker_card p {
  color: var(--gray);
  font-size: 16px;
  letter-spacing: 0.48px;
  word-wrap: break-word;
  margin: 0;
}

/*Regular customers section*/

.regular_customers_section {
  text-align: center;
  padding: 94px 0;
  margin: 0;
}

.logo_client_list {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 30px;
}

.regular_customers_section h2 {
  color: var(--some_more_light_black);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  word-wrap: break-word;

  margin-bottom: 50px;
}

.logo_client_card {
  max-height: 92px;
}

.logo_client_card a {
  border-radius: 4px;
  border: 1px var(--icon) solid;
  display: inline-block;
  color: var(--icon);
  fill: currentColor;
  transition: color 0.5s, border 0.5s;
  height: 100%;
}

.client_logo {
  width: 100%;
  height: 100%;
  padding: 16px 32px;
  color: var(--icon);
  fill: currentColor;
  transition: color 0.5s, border 0.5s;
}

.logo_client_card a:hover,
.logo_client_card a:focus {
  color: var(--blue_color);
  fill: currentColor;
  border: 1px var(--blue_color) solid;
}
.client_logo:hover,
.client_logo:focus {
  color: var(--light_blue);
  fill: currentColor;
}

/*Footer*/
.footer_page {
  background-color: var(--background_dark);
  color: var(--white);
}

.footer_page .container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: baseline;
}

.footer_box_first {
  margin-right: 70px;
}

.footer_page .logo {
  display: inline-block;
  margin-bottom: 28px;
}

.footer_page address ul li:not(:last-child) {
  margin-bottom: 12px;
}

.footer_address_link {
  color: var(--white);
  font-size: 14px;
  line-height: 114%;
  letter-spacing: 0.42px;
}
.footer_mailtel_link {
  color: var(--gray);
  line-height: 114%;
  letter-spacing: 0.42px;
  word-wrap: break-word;
}

.footer_box_second p {
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.42px;
  word-wrap: break-word;

  margin-bottom: 20px;
}

.footer_social_list {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

.footer_social {
  height: 44px;
  width: 44px;
}

.footer_icon_link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100%;
  color: var(--white);

  fill: currentColor;
  transition: color 0.5s, background-color 0.5s;
}

.footer_icon_link:hover,
.footer_icon_link:focus {
  color: var(--white);
  fill: currentColor;
  background-color: var(--light_blue);
}

.footer_icon {
  fill: currentColor;
}

/*Portfolio*/

.button_row {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button_row ul {
  display: flex;
  gap: 8px;
}
.button_row button {
  height: 100%;
  background: var(--button_white);
  font-family: var(--roboto_font);
  border-radius: 4px;
  border: none;
  padding: 6px 22px;

  color: var(--some_more_light_black);
  font-size: 16px;
  font-weight: 500;
  line-height: 162.5%;
  letter-spacing: 0.48px;
  word-wrap: break-word;
  transition: color 0.5s, background-color 0.5s;
}

.section_portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section_portfolio button:hover,
.section_portfolio button:focus {
  background: var(--blue_color);
  color: var(--white);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.portfolio_card {
  max-width: 370px;
  border: 1px solid var(--dif_white);
  transition: box-shadow 0.5s;
}

.portfolio_card:hover,
.portfolio_card:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio_card a {
  display: inline-block;
}

.portfolio_list_box {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio_list_box h3 {
  color: var(--some_more_light_black);
  font-size: 18px;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 1.08px;
  word-wrap: break-word;
}
.portfolio_list_box p {
  color: var(--gray);
  font-size: 16px;
  line-height: 187.5%;
  letter-spacing: 0.48px;
  word-wrap: break-word;
}

.portfolio_card_text {
  padding: 20px 23px;
}
