.about {
  padding-top: 94px;
  padding-bottom: 94px;

  &__list {
    gap: 30px;
    display: flex;
  }

  &__title {
    @include font($main-color, 14px, 700, 0.42px);
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__text {
    @include font($third-color, 14px, 400, 0.42px, 24px);
  }
}

.icon-box {
  background-color: $icon-background;
  max-height: 120px;
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
}
