.worker {
  text-align: center;
  background-color: $ligh-gray;
  padding: 0;
  margin: 0;
  padding-bottom: 94px;
  padding-top: 94px;

  &__list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }

  &__card {
    background-color: $white;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }

  &__img {
    margin-bottom: 30px;
  }

  &__info {
    padding: 0 32px 30px;
  }

  &__name {
    @include font($main-color, 16px, 500, 0.48px);
    margin-bottom: 10px;
  }

  &__text {
    @include font($third-color, 16px, 400, 0.48px);
    margin: 0;
  }
}

@media (max-width: 768px) {
}
@media (max-width: 450px) {
}
